#normal {
    -fx-background-color:
            #000000,
            linear-gradient(#7ebcea, #2f4b8f),
            linear-gradient(#426ab7, #263e75),
            linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 20,20,20,20;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: ghostwhite;
    -fx-font-size: 30px;
}

#normal Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}

#add {
    -fx-background-color:
            linear-gradient(#f0ff35, #a9ff00),
            radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

#remove {
    -fx-background-color:
            linear-gradient(#ffd035, #ff2600),
            radial-gradient(center 50% -40%, radius 200%, #ee5236 45%, #ff2600 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

#modify {

    -fx-background-color:
            linear-gradient(#00FFFF, darkblue),
            radial-gradient(center 50% -40%, radius 200%, #00FFFF 45%, #00BFFF 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

#return{
    -fx-background-color:#090a0c,
    linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(#20262b, #191d22),
    radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: Arial;
    -fx-text-fill: ghostwhite;
    -fx-font-size: 16px;
}

#normal:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, aqua 0%, #000000 100%),
            aqua,
            aqua,
            radial-gradient(center 50% 50%, radius 100%, aqua, darkcyan);
    -fx-text-fill: black;
}

#return:hover{
    -fx-text-fill: gold;
    -fx-border-color: gold;
    -fx-border-radius: 5,5,5,5;
}

#modify:hover{
    -fx-border-color: #172333;
    -fx-border-radius: 5,5,5,5;
}

#remove:hover{
    -fx-border-color: #172333;
    -fx-border-radius: 5,5,5,5;
}

#add:hover{
    -fx-border-color: #172333;
    -fx-border-radius: 5,5,5,5;
}