body {
    font-family: "Poppins", sans-serif;
    color: #444444;
    background-color: #433f39;
  }
  
  a {
    color: #ffb03b;
  }
  
  a:hover {
    color: #ffc56e;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Satisfy", sans-serif;
  }

  #topbar.topbar-transparent {
    background: transparent;
  }
  
  #topbar.topbar-scrolled {
    top: -50px;
  }
  
  #topbar i {
    color: #ffb03b;
  }
  
  #topbar i + i {
    margin-left: 15px;
  }
  